  #score {
    text-align: center;
    }

    #game {
    width: 600px;
    height: 300px;
    border: 2px solid black;
    margin: auto;
    background-image : url("https://thumbs.dreamstime.com/b/black-white-cartoon-forest-game-background-landscape-vector-illustration-90210494.jpg");
    background-size : cover;
    }

    #dino {
    height: 75px;
    width: 75px;
    position: relative;
    top: 225px;
    background-image: url("https://github.com/kriscfoster/chrome-dino-game/blob/master/dino.png?raw=true");
    background-size: cover;
    }

    #rock {
        height: 50px;
        width: 50px;
        position: relative;
        top: 175px;
        left: 550px;
        background-image: url("https://images.luxy.io/collection/icon/90d45c29-a6ff-4416-8ee8-387382c24dbf.png");
        background-size: cover;
        animation: rock 1.33s infinite;
        }


        @keyframes rock {
            0%{left: 550px;}
            100%{left: -50px;}
          }
          
          .jump-animation {
            animation: jump 0.5s;
          }
          
          @keyframes jump {
            0%{top: 225px;}
            50%{top: 75px;}
            75%{top: 75px;}
            100%{top: 225px;}
          }